@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 60px;
}

.header-text {
  font-family: Lobster, cursive;
  color: lightskyblue;
  font-size: 35px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  line-height: 1;
}

.fa-heart {
  color: pink; 
}

.radio-group {
  display:inline-block;
  text-align:center;
}
.radio-group label {
  display:block;
}

.title-text {
  font-family: Lobster;
  color: skyblue;
}

.subtitle-text {
  font-family: Lobster;
  color: pink;
  text-decoration: underline; 
}
